#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  
  font-family: "Mulish", sans-serif;
  --primary-color: #EBEBEB;
  --line-color: #D8D8D880;
  --primary-text-color: #19202C;
  --secondary-text-color: #C2C2C2;
}

@media screen and (max-width: 360px) {
    #root {
      padding: 0 !important;
    }
}